<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Host" value="localhost" />
        <add key="Port" value="5433" />
        <add key="Database" value="copernicus" />
        <add key="Username" value="copernicus" />
        <add key="Password" value="copernicus" />
    </appSettings>
</configuration>
